* {
    margin: 0;
    box-sizing: border-box;
}
/* Preclasses Section */
:root {
    --primary-color: #050B20;
    --primary-color-rgb: 5, 11, 32;
    --secondary-color: #405FF2;
    --secondary-color-rgb: 64, 95, 242;
    --ternary-color: #3D923A;
    --ternary-color-rgb: 61, 146, 58;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --text-primary: 'DM Sans';
    --fw: 400;
    --fs: 16px;
    --lh: 1.5;
    --gw: 15px;
}
::selection {
    color: var(--white);
    background: var(--primary-color);
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--black);
    font-family: var(--text-primary);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gw));
    margin-right: calc(-1 * var(--gw));
}
img {
    display: block;
    max-width: 100%;
}
ul,
ol {
    list-style: none;
    padding: 0;
}
a {
    color: var(--black);
    text-decoration: none;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 18px;
}
.col-1 {
    width: 8.3333%;
}
.col-2 {
    width: 16.6666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333%;
}
.col-5 {
    width: 41.6666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3333%;
}
.col-8 {
    width: 66.6666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333%;
}
.col-11 {
    width: 91.6666%;
}
.col-12 {
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-left: var(--gw);
    padding-right: var(--gw);
}
.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-end {
    justify-content: flex-end;
}
.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: var(--white);
}
.justify-items-center {
    justify-items: center;
}
.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
.mb-45 {
    margin-bottom: 45px;
}
.text-secondary {
    color: var(--secondary-color);
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
/* Header Section */
header {
    width: 100%;
    position: absolute;
    z-index: 99;
    padding: 25px 0;
    border-bottom: 1px solid rgba(var(--white-rgb), 0.25);
}
nav a {
    color: var(--white);
    margin: 0 25px;
    transition: all 0.5s;
}
nav a:hover {
    color: rgb(var(--primary-color), 0.1);
}
.sign-in-btn i {
    margin-right: 5px;
}
.submit-btn {
    border: 1px solid var(--white);
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.5s;
}
.submit-btn:hover {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
}
/* Banner Section */
.banner {
    position: relative;
    background-image: url('../img/banner/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    color: var(--white);
}
.petrol a, .miles a, .automatic a {
    color: var(--white);
    margin-left: 20px;
}
.petrol a:hover, .miles a:hover, .automatic a:hover {
    text-decoration: underline;
}
.tabpanel {
    margin-bottom: 45px;
}
.banner-btn {
    background-color: var(--white);
    padding: 15px 25px;
    border-radius: 15px;
    border: 1px solid var(--white);
    transition: all 0.5s;
}
.banner-btn:hover {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: transparent;
}
.left, .right {
    position: absolute;
    background-color: var(--white);
    padding: 0px 25px;
    color: var(--primary-color);
    font-size: 30px;
    border-radius: 80px;
    top: 50%;
}
.left i, .right i, .special-left i, .special-right i{
    line-height: 1.7;
}
.left {
    left: 25px;
}
.right {
    right: 25px;
}
/* Category Section */
.category {
    margin-top: 50px;
}
.category img {
    margin-bottom: 10px;
}
/* Explore Vehicles Section */
.tablist a {
    padding: 25px 25px 15px;
}
.selected {
    border-bottom: 3px solid var(--secondary-color);
}
.card{
    cursor: pointer;
}
.card, .review-card {
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0 5px 1px rgba(var(--black-rgb), 0.1);
    border-radius: 25px;
    margin-top: 50px;
    transition: all 0.5s;
}
.card:hover, .review-card:hover {
    transform: scale(1.05);
}
.deal-green, .deal-blue{
    position: absolute;
    z-index: 99;
    top: 15px;
    left: 20px;
    background-color: var(--ternary-color);
    color: var(--white);
    padding: 1px 10px;
    border-radius: 25px;
}
.deal-blue{
    background-color: var(--secondary-color);
    color: var(--white);
}
.bookmark-icon a{
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 20px;
    background-color: var(--white);
    color: var(--primary-color);
    padding: 3px 6px 0;
    border-radius: 25px;
}
.car-img img {
    border-radius: 25px 25px 0 0;
}
.car-detail {
    padding: 25px;
}
.car-name h6 {
    font-size: 13px;
    font-weight: 300;
}
.feature {
    padding: 25px 15px;
}
.feature a, .category a {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature a i {
    display: block;
}
.other-detail {
    padding: 0 15px;
}
.adv-btn, .connect-signup a {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
    transition: all 0.5s;
}
.adv-btn:hover, .connect-signup a:hover {
    background-color: transparent;
    color: var(--black);
}
/* Choose Us Section */
.choose-heading {
    margin-bottom: 45px;
}
.choose-img {
    margin-bottom: 30px;
}
.choose-name, .choose-info {
    margin-bottom: 25px;
}
/* Special Section */
.special .container{
    position: relative;
}
.special-left a, .special-right a {
    position: absolute;
    margin-top: 25px;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    border-radius: 15px;
    transition: all 0.5s;
}
.special-left a {
    left: 30px;
}
.special-right a {
    left: 130px;
}
.special-left a:hover, .special-right a:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
/* Review Section */
.review {
    background-color: rgba(var(--secondary-color-rgb), 0.05);
    padding: 45px 0;
}
.review-card {
    padding: 25px;
}
.review-star, .review-verified {
    padding: 15px;
}
.review-star i {
    color: var(--white);
    background-color: rgba(var(--ternary-color-rgb));
    font-size: 12px;
    padding: 5px;
}
.bg-grey {
    background-color: rgba(var(--black-rgb), 0.25) !important;
}
.reviews p, .review-author p {
    font-size: 14px;
    margin-top: 10px;
}
.review-author p {
    font-weight: 600;
}
/* Team Section */
.team-img {
    width: 300px;
}
.team-member-info {
    padding: 15px 5px;
}
.team-member-designation p {
    font-size: 14px;
}
/* Selection help Section */
.options p {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    margin: 25px 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.options p:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}
.options p:hover a {
    color: var(--white);
}
/* App Section */
.app-info {
    background-image: url(../img/app-section/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 90px 230px 90px 40px;
}
.app-info>.col-8>p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
}
.vertical-line {
    width: 2px;
    height: 20px;
    background-color: var(--white);
    margin: 0 10px;
}
.download-buttons {
    display: flex;
    gap: 20px;
    margin-left: 15px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 10px;
}
.download-btn-text {
    flex-direction: column;
}
.button i {
    font-size: 30px;
}
.text-xsm {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}
/* Brands Section */
.brands{
    padding-bottom: 120px;
}
.brand img {
    width: 60px;
}
/* Explore Section */
.explore {
    background-image: url('../img/explore/Background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 120px;
    color: var(--white);
}
.explore h2 {
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.explore a {
    color: var(--white);
    padding: 15px 25px;
    border: 1px solid var(--white);
    border-radius: 10px;
    transition: all 0.5s;
}
.explore a:hover {
    color: var(--primary-color);
    background-color: var(--white);
}
/* Connect Section */
.connect-info h3 {
    font-size: 30px;
}
.connect-info p {
    font-size: 15px;
}
.connect-signup {
    border: 1px solid rgba(var(--black-rgb), 0.2);
    border-radius: 10px;
    padding: 18px 9px;
}
.connect-signup input, .connect-signup input:focus {
    outline: none;
    border: none;
    margin-right: 10px;
}
.connect-signup a {
    background-color: var(--black);
    color: var(--white);
}
.horizontal-line {
    width: 105%;
    height: 1px;
    background-color: rgba(var(--black-rgb), 0.3);
    margin-top: 25px;
    margin-left: -25px;
}
/* Footer Section */
footer h2 {
    font-weight: 500;
}
footer h3 {
    font-size: 40px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 300;
}
.mt-35 {
    margin-top: 35px;
}

.footer-details h5 {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 20px -16px;
}
.timings h5 {
    margin: 0 0 20px -3px;
}
.footer-list ul li {
    margin-bottom: 10px;
    font-weight: 400;
}
.footer-list a {
    transition: all 0.3s;
}
.footer-list a:hover{
    color: var(--secondary-color);
}
.social-heading {
    margin: 50px 0 -10px 0 !important;
}
.social-icons {
    display: flex;
    gap: 30px;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 20px;
}
.social-icons a {
    transition: all 0.5s ease;
}
.social-icons a:hover {
    color: var(--secondary-color);
}
.footer-last {
    margin: 25px 0;
}
.footer-last a {
    gap: 15px;
    transition: all 0.5s ease;
}
.footer-last a:hover {
    color: var(--secondary-color);
}